<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">test</argument>
            <argument name="basePath" xsi:type="string">test</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="doc" xsi:type="string">doc</item>
                <item name="docx" xsi:type="string">docx</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="PurpleCommerce\Attachment\Controller\Adminhtml\Upload\Uploader">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type> -->

    


    <preference for="PurpleCommerce\Attachment\Api\Data\AttachmentInterface" type="PurpleCommerce\Attachment\Model\Attachment" />
    <preference for="PurpleCommerce\Attachment\Api\AttachmentRepositoryInterface" type="PurpleCommerce\Attachment\Model\AttachmentRepository" />
    <virtualType name="PurpleCommerce\Attachment\Model\ResourceModel\Attachment\Attachment\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pc_attachment_records</argument>
            <argument name="resourceModel" xsi:type="string">PurpleCommerce\Attachment\Model\ResourceModel\Attachment</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="attachment_record_attachment_list_data_source" xsi:type="string">PurpleCommerce\Attachment\Model\ResourceModel\Attachment\Attachment\Collection</item>
                
            </argument>
        </arguments>
    </type>
</config>